
@if (Message != null)
{
    <p>@Message</p>
}
<input type="text" name="@Name" @attributes="DefautAttributes">

@code{

    [Parameter]
    public string Name { get; set; }

    private string Message { get; set; }

    public Dictionary<string, object> DefautAttributes { get; set; } =
        new Dictionary<string, object> ()
            {
                { "maxlength", "10" },
                { "placeholder", "Digite um Valor" },
                { "size", 10},
                { "class",  "form-control"}
            };

    public void ShowMessage(string value)
    {
        Message = value;
        StateHasChanged();
    }
}